@import url('https://fonts.googleapis.com/css?family=Dosis|Work+Sans&display=swap');

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    background: #1d0b47;
    color: #e0c8ff;
    font-family: 'Dosis', sans-serif;
}

h1, h2, h4 {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}

.globe-info {
    position: relative;
}

.globe-title h1 {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    font-size: 32px;
    letter-spacing: 2.21px;
    color: #ffffff;
}

p {
    margin-block-start: 5px;
    margin-block-end: 5px;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
  }
  
  .row            { 
    -webkit-flex-direction: row; 
    flex-direction: row;
  }
  
  .row-reverse    { 
    -webkit-flex-direction: row-reverse; 
    flex-direction: row-reverse;
  }
  
  .column { 
    -webkit-flex-direction: column; 
    flex-direction: column; 
    float: left;
  }
  
  .column-reverse { 
    -webkit-flex-direction: column-reverse; 
    flex-direction: column-reverse; 
    float: right;
  }

#root {
    height: 100%;
    width: 100%;
}

.landing-page {
    background-image: url('../images/pattern-wave-pattern-wave-copy-mask.svg');
    background-size: contain;
    height: 100%;
}
.globe-home{
    background: url('../images/n.svg') center center no-repeat;
    height: 100%;
    position: relative;
}

.globe-title{
    position: relative;
    top: 80vh;
    text-align: center;
}

.title-font {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 0.2px;
}

.left-number {
    position: absolute;
    left: 15%;
    top: 15%
}

.right-number {
    position: absolute;
    top: 15%;
    right: 15%;    
}

.left-info {
    position:absolute;
    top: 45%;
    left: 15%;
    
}

.right-info {
    position: absolute;
    top: 45%;
    right: 15%;
}

.detail-globe-container .row {
    margin-right: 5px;
    margin-left: 5px;
}

.detail-globe-container .col-4 {
    padding: 0px 5px;
}

.detail-globe {
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(228, 197, 255, 0.15), rgba(61, 15, 115, 0.2));
    display: inline-block;
    padding: 10px 10px 20px;
    white-space: nowrap;
}

.left-detail-globe p{
    color: #c8a6ff;
}

.icon-box {
    background-color: #320e61;
    box-shadow: 0 0 3px #fff;
    border-radius: 3px;
    width: 61px;
    height: 61px;
    position: relative;
    float: left;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-box img {
    position: absolute;
    width: 95%;
}


span.detail-total {
    font-size: 24px;
    letter-spacing: 0.5px;
    color: #fff;
    text-shadow: 0px 0px 6px #c789ff;
}

p.info-title {
    font-size: 14px;
    color: #fff;
    text-shadow : 0px 0px 6px #e0beff;
}

p.info-detail {
    font-size: 13px;
    letter-spacing: 0.19px;
}

p.info-date {
    font-size: 12px;
    letter-spacing: 0.2px;
    color: #825cc0;
}

.left-info > .row {
    display: inline;
    float: left;
}

.fadeOut{
    opacity:0;
    width:0;
    height:0;
    transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s 2s;

}
.fadeIn{
    opacity:1;
    width:100px;
    height:100px;
    transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s 2s;

}

.rounded-white {
    border: 1px solid #fff;
    background: transparent;
    border-radius: 20px;
    color: #fff;
    padding: 10px 30px;
    cursor: pointer;
}

.rounded-white:hover {
    background: #fff;
    color: #1d0b47;
    transition: 0.5s;
    cursor: pointer;
}